/* Reset */

html {
    box-sizing: content-box;
    font-size: 19px;
    font-family: Times, serif; 
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul, figure {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/* Styles */


body {
    max-width: 900px;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #fffff8;
    color: #111;
    } 

a {
  color: #111; 
}

h1 {
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: -0.05rem;
    font-family: sans-serif;
}

h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: -0.03rem;
  font-family: sans-serif;
}

p {
  line-height: 1.4em;
}

.align-right {
  float: right;
  margin-left: 20px;
  margin-right: 2rem;
}

.align-left {
  float: left;
  margin-right: 20px; /* Adds space to the right of the image */
}

.sidenote {
  float: right; /* or 'left' depending on layout */
  width: 200px;
  margin-left: 40px; /* Adjust based on layout and spacing needs */
  text-align: left; /* Ensures text within the sidenote is aligned properly */
}